.blog-title-length {
  margin: 24px 30px;
}
.blog-title-length h1 {
  padding-top: 30px;
}
.blog-title {
  margin: 16px 0;
  border-radius: 8px;
  padding: 20px;
  background: white;
}

.bookMarked {
  background-color: rgba(17, 17, 17, 0.05);
}
